dawki-min-btn {
  @extend .window-action-btn;
  background-image: url("/assets/icons/circle.svg");
  filter: invert(80%) sepia(18%) saturate(6735%) hue-rotate(4deg) brightness(94%) contrast(91%);
}

dawki-min-btn:hover {
  background-image: url("/assets/icons/window_minimize.svg");
}
