$main-window: 'main-window';
$root-box: 'root-box';
$navigation-box: 'navigation-box';
$navigation-header: 'navigation-header';
$navigation-items: 'navigation-items';
$content-box: 'content-box';
$content-header: 'content-header';
$win-actions: 'window-actions';
$win-close-btn: 'win-close-btn';
$win-min-btn: 'win-min-btn';
$win-max-btn: 'win-max-btn';
