.dawki-min-btn {
  @extend .window-action-btn;
  background-image: url("/assets/icons/common/window_minimize.svg");
}

.dawki-min-btn-2 {
  @extend .window-action-btn;
  background-image: url("/assets/icons/common/window_maximize.svg");
}

dawki-min-btn:hover {
}
