@import './variables.scss';

$base-font-size-md: 15px;
$base-font-size-lg: 20px;
$base-font-size-xl: 25px;
$base-font-size-2xl: 30px;
$window-min-height: 500px;
$window-min-width: 800px;
$border-radius: 8px;
$draggable-header-height: 10em;


.#{$main-window} {
  font-size: $base-font-size-lg;
  min-width: $window-min-width;
  min-height: $window-min-height;
}

.#{$main-window}-md {
  font-size: $base-font-size-md;
  min-width: $window-min-width;
  min-height: $window-min-height;
}

.#{$main-window}-lg {
  font-size: $base-font-size-lg;
  min-width: $window-min-width;
  min-height: $window-min-height;
}

.#{$main-window}-xl {
  font-size: $base-font-size-xl;
  min-width: $window-min-width;
  min-height: $window-min-height;
}

.#{$main-window}-2xl {
  font-size: $base-font-size-2xl;
  min-width: $window-min-width;
  min-height: $window-min-height;
}

.#{$navigation-header} {
  border-top-left-radius: $border-radius;
  min-height: $draggable-header-height;
}

.#{$content-header} {
  border-top-right-radius: $border-radius;
  min-height: $draggable-header-height;
}

.#{$navigation-box} {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  min-width: calc(#{$window-min-width} * 1/3);
}

.#{$content-box} {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  min-width: calc(#{$window-min-width} * 2/3);
}
