$main-window: 'main-window';
$root-box: 'root-box';
$navigation-box: 'navigation-box';
$navigation-header: 'navigation-header';
$navigation-items: 'navigation-items';
$content-box: 'content-box';
$content-header: 'content-header';

