dawki-navigation {
  min-width: 18rem;
  padding: 0.2rem 1rem 0.2rem 0.3rem;
  background: rgb(30, 29, 29);

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.nav-item {
  font-size: 1.9rem;
  font-family: "Overpass";
  font-weight: 50;
  min-width: 1.3rem;
  padding: 0.5rem 1rem 0.5rem 2rem;
  &:hover {
    background: rgb(3, 32, 88);
  }
}

.icon {
}

.docker-containers-nav-icon {
  @extend .icon;
}

.docker-containers-nav-label {
  @extend .nav-item;
}

.docker-images-nav-icon {
  @extend .icon;
}

.docker-images-nav-label {
  @extend .nav-item;
}
